<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grades</title>
</head>
<body>
    <h1>Grades List</h1>
    <a href="/"><button>Home</button></a>
    <table border="1">
        <tr>
            <th>Student</th>
            <th>Module</th>
            <th>Grade</th>
        </tr>
        <% gradesList.forEach((grade) => { %>
        <tr>
            <td><%= grade.Student %></td>
            <td><%= grade.Module %></td>
            <td><%= grade.Grade %></td>
        </tr>
        <% }) %>
    </table>
</body>
</html>
